@import "reset";
@import "global";

.app {
    display: flex;
    min-height: 100vh;
    font-family: 'Ubuntu';
}

p {
    font-family: 'Ubuntu';
}

h3 {
    font-family: 'Ubuntu';
}

h4 {
    font-family: 'Ubuntu';
}