.textSmall {
font-size: 16px;

@media (max-width: 700px ) {
    font-size: 8px;
}
}

.textMedium {
font-size: 32px;

@media (max-width: 700px ) {
    font-size: 16px;
}
}

.textBig {
font-size: 36px;

@media (max-width: 700px ) {
    font-size: 18px;
}
}

.ligth {
font-weight: 300;
}

.medium {
font-weight: 500;
}

.bolt  {
font-weight: 700;
}

h1 {
font-size: 72px;

    @media (max-width: 1400px ) {
        font-size: 28px;
    }
}
    
h2 {
font-size: 48px;

@media (max-width: 1400px ) {
    font-size: 18px;
}
}

h3 {
font-size: 36px;

@media (max-width: 1400px ) {
    font-size: 18px;
}
}

h4 {
font-size: 24px;

@media (max-width: 1400px ) {
    font-size: 12px;
}
}


.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

p {
    @media (max-width: 1400px ) {
        font-size: 12px;
    }
}