.divText {
    color: var(--text-color);
    position: relative;
    z-index: var(--z-index-text: 999);
}

.textSmall {
font-size: 16px;
font-weight: 300;


@media and screen (max-width: 1024px ) {
    font-size: 8px;
}
}

.textMedium {
font-size: 32px;
font-weight: 300;

@media screen and (max-width: 1024px ) {
    font-size: 16px;
}
}

.textBig {
font-size: 36px;

@media screen and (max-width: 1024px ) {
    font-size: 18px;
}
}

.ligth {
font-weight: 300;
}

.medium {
font-weight: 500;
}

.bolt  {
font-weight: 700;
}

h1 {
font-size: 72px;

    @media screen and (max-width: 1024px ) {
        font-size: 36px;
    }
}
    
h2 {
font-size: 48px;

@media screen and (max-width: 1024px ) {
    font-size: 24px;
}
}

h3 {
font-size: 36px;

@media screen and (max-width: 1024px ) {
    font-size: 18px;
}
}

h4 {
font-size: 24px;

@media screen and (max-width: 1024px ) {
    font-size: 12px;
}
}


.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

p {
    @media screen and (max-width: 1024px ) {
        font-size: 12px;
    }
}

.white {
color: var(--text-color-white)
}