.ProjectCard {
    position: relative;
    z-index: 999;
    padding: 50px;
    object-fit: cover;

    @media (max-width: 430px ) {
        padding: 0px;
        display: flex;
        justify-content: center;
    }
}

.containerImg {
    background-color: black;
    box-shadow: var(--shadow-color) 0 0 150px 0px;
    height: 370px;
    position: relative;
    
    @media (max-width: 1400px ) {
        width: 520px;
        height: 245px;
    }


    @media (max-width: 430px ) {
        margin: 0 5%;
        height: 184px;
        width: 100%;
        box-shadow: var(--shadow-color) 0 0 20px 0px;
    }

}

.contant {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
}

.img {
    width: 780px;
    height: 370px;
    opacity: 0.2;
    filter: blur(3px);


    @media (max-width: 1400px ) {
        width: 520px;
        height: 245px;
    }


    @media (max-width: 430px ) {
        width: 100%;
        height: 100%;
    }
}