.ProjectCard {
    position: relative;
    z-index: 999;
    padding: 50px;
    object-fit: cover;

    @media (max-width: 1024px) {
        padding: 28px 0;
    }

    @media (max-width: 576px ) {
        padding: 0px;
        display: flex;
        justify-content: center;
    }
}

.containerImg {
    background-color: black;
    box-shadow: var(--shadow-color) 0 0 350px 20px;
    height: 370px;
    position: relative;
    object-fit: cover;
    
    @media screen and (max-width: 1024px ) {
        width: 520px;
        height: 245px;
        margin: 0 5%;
    }

    @media screen and (max-width: 560px ) {
        margin: 0 5%;
        width: 100%;
        height: 100%;
        box-shadow: var(--shadow-color) 0 0 170px 5px;
    }
}

.contant {
    position: absolute;
    top: 45%;
    left: 10%;

    @media screen and (max-width: 1024px ) {
        position: absolute;
        top: 25%;
        left: 10%;
    }
}

.img {
    width: 100%;
    height: 100%;
    opacity: 0.2;

    @media screen and (max-width: 1024px ) {
        width: 100%;
        height: 100%;
    }
}