.a {
    padding: 10px 15px;

    cursor: pointer;  
}

.clear {
    padding: 0;
    background-color: none;
}

.outline {
    background-color: rgb(154, 92, 255);
    padding: 10px 50px;
    border: none;

    &:hover {
        transition: all 0.2s;
        background-color: var(--hover-color);
    }

    @media (max-width: 430px ) {
            padding: 7px 35px;
    }

    @media screen and (max-width: 1024px) {
        &:hover {
        transition: all 0s;
        background: rgb(154, 92, 255);
    }
}
}

.clear_outline {
    padding: 0 10px;
    border: none;
    background: none;
    outline: none;
    color: var(--text-color);
    
    &:hover {
    transition: all 0.2s;
    color: var(--hover-color);
    }

    @media screen and (max-width: 1280px){
        &:hover {
            color: var(--text-color);
        }
    }
    }