.SidebarHeaderBlock {
    background-color: #fff;
}

.text {
text-transform: uppercase;
}

.linkBlock {
@media (max-width: 700px) {
    display: flex;
    flex-direction: column;
}
}

.link {
    cursor: pointer;
}
