.Button {
    padding: 10px 15px;

    cursor: pointer;

    &:hover {
        transition: all 0.2s;
        color: var(--hover-color);
    }

    @media screen {
        &:hover {
            color: none;
        }
    }
}

.clear {
    padding: 0 10px;
    border: none;

    background: none;
    outline: none;
}

.outline {
background-color: rgb(154, 92, 255);
padding: 10px 50px;
border: none;
}