.ContactBlock {
    padding: 48px 0; 
    box-shadow: var(--shadow-color) 0px 0 15px 0px;
    background: var(--bg-color-inverted);
    position: relative;
    z-index: 999;
    width: 100%;

    @media (max-width: 1400px) {
        padding: 28px 0;
    }

    &:hover {

        .hashtag {
            color: rgba(117, 69, 195, 1);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 

    @media (max-width: 700px) {
        display: none;
     }
}

.container {
    width: 1200px;

    @media (max-width: 1224px) {
        width: 90%;
    };

    @media (max-width: 1024px) {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    };
}
