.ContactBlock {
    padding: 48px 0; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0 15px 0px;
    background: rgba(244, 244, 244, 1);
    position: relative;
    z-index: 999;
    width: 100%;
    &:hover {

        .hashtag {
            color: rgba(117, 69, 195, 1);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 
}

.container {
    width: 1200px;

    @media (max-width: 1300px ) {
        width: 600px;
    }
}