.ProjectBlock {
    padding: 98px 0;
    position: relative;
    max-width: 1400px;
    overflow: hidden;
    width: 100%;

        width: 1200px;
    
        @media (max-width: 1400px) {
            width: 700px;
            padding: 28px 0;
        };
    
        @media (max-width: 700px) {
            width: 100%;
        }
    
    &:hover {

        .hashtag {
            color: rgba(117, 69, 195, 1);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 

    @media (max-width: 700px) {
       display: none;
    }
}