.theme_light {
    --bg-color: #fff;
    --bg-color-inverted: rgba(244, 244, 244, 1);
    --text-color: #000;
    --text-color-inverted: #fff;
    --text-color-white: #fff;
    --shadow-color: rgba(0, 0, 0, 0.5);

    --btn-color: rgb(125, 45, 255);
    --hover-color: rgb(112, 22, 255);

    --granules-color: rgb(179, 131, 255);
}