.Hr {
    height: 0.5px;
    background: var(--text-color);
    border: none;
    z-index: 999;
}

.max {
    width: 100%;
}

.maxInverted {
    height: 100%;
}

.hrVertically {
    width: 0.5px;   
    background: var(--text-color);
    border: none;
    border-left: 0.5px solid var(--shadow-color);
    z-index: 999;
}

.white {
    background: #fff;
}