.Hr {
    height: 0.5px;
    background: rgba(64, 87, 113);
    border: none;
    z-index: 999;
}

.max {
    width: 100%;
}

.maxInverted {
    height: 100%;
}

.hrVertically {
    width: 0.5px;   
    background: rgba(64, 87, 113);
    border: none;
    border-left: 0.5px solid rgba(207,213,221);
    z-index: 999;
   }

.inverted {
    background: rgba(207,213,221);
}