.SteckBlock {
    box-shadow: var(--shadow-color) 0px 0 15px 0px;
    background: var(--bg-color-inverted);
    padding: 48px 0 98px 0;
    position: relative;
    z-index: 999;
    width: 100%;

    @media (max-width: 1440px) {
    padding: 28px 0 56px 0;
    }

    &:hover {
        .hashtag {
            color: rgba(117, 69, 195, 1);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 

    @media screen {
        display: none;
     }
}

.container {
    max-width: 1200px;
    width: 100%;

    @media screen and (max-width: 1440px) {
        width: 90%;
    }
}