.PreviewBlock {
    position: relative;
    background-color: rgba(0, 0, 0);
    color: var(--text-color-white);
    z-index: var(--z-index-block);
    height: 100vh;
    width: 100vw;
}

.img {
    object-fit: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
}

.HeaderBlock {
    position: absolute;
    padding: 0 230px;
    top: 40px;

    @media (max-width: 1440px) {
        left: 0;
        top: 0;
        padding: 5% 5%;
    }
}

.SidebarHeaderBlock {
    position: absolute;
    top: 0;
    left: 0;
}

.AboutMeBlock {
    position: absolute;
    top: 40vh;
    padding: 0 230px;
    width: 100%;

    @media (max-width: 1440px) {
        left: 0;
        top: 30vh;
        padding: 5%;
    }
}